.about {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  
  .aboutTop {
    width: 100%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .aboutBottom {
    display: flex;
    flex-direction: column;
    height: 55%;
    align-items: center;
    margin-top: 50px;
  }
  
  .aboutBottom p {
    width: 1200px;
  }
  
  .about .aboutBottom h1 {
    font-weight: 400;
    font-size: 70px;
    color: #f990d1;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
  }

  @media only screen and ( min-width: 375px) and (max-width: 600px) {
    .about {
      justify-content: center;
      align-items: center;
    }
    .aboutTop {
      width: 100%;
    }
    .aboutBottom {
      margin-left: 0px;
      margin-bottom: 50px;
      margin-top: 50px;
      border-radius: 10px;
      padding: 10px;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #ff8bd3;
      color: white;
    }
  
    .about .aboutBottom h1 {
      font-size: 50px;
      color: white;
      text-align: center;
      height: fit-content;
      margin-top: 50px;
      margin-bottom: -30px;
    }
  
    .aboutBottom p {
      font-size: 15px;
      color: white;
      text-align: center;
      width: fit-content;
      margin-left: 50px;
      margin-right: 50px;
    }
  
  }